<!-- Page Features -->
  <!-- Title -->
<div class="row">
  <div class="col-lg-12">
    <h3>CARDS</h3>
  </div>
</div>

<div class="row">

<% @products.each do |product| %>
  <%= render "products/product_row", product: product, order_item: @order_item %>
<% end %>

</div>
<!-- /.row -->

<hr>

